flows.json
[{"id":"92c9ed82.06b5f","type":"tab","label":"Disinfect bin system","disabled":false,"info":""},{"id":"c068958c.fcadf8","type":"rpi-srf","z":"92c9ed82.06b5f","name":"UVD bins","topic":"","pulse":"0.5","pins":"16,18","x":100,"y":280,"wires":[["8002af97.9810d","da867d88.180e1","2710a8b6.a95468"]]},{"id":"14811f1f.d0a901","type":"function","z":"92c9ed82.06b5f","name":"message","func":"if(msg.payload>=20)\n msg = {\n    payload : \"Hey, This is from Disinfect Team. The bin is full, You may come and collect the disinfected garbage.\\n #STAYHOMESTAYSAFE #COVID-19\\b \\n Our Facebook Page: https://www.facebook.com/Disinfect_Team-102275554842395/?ti=as \\n You may visit us here or Email to Bharattechnocrats007@gmail.com \\n\" +Date().toString(),\n topic : \"Disinfect Team\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["a54ad498.93cb48"]]},{"id":"f79f3c56.aeb38","type":"ui_led","z":"92c9ed82.06b5f","group":"e6adf4a7.238368","order":2,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"green","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":400,"wires":[]},{"id":"30df0bf2.87ee04","type":"ui_led","z":"92c9ed82.06b5f","group":"e6adf4a7.238368","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":140,"wires":[]},{"id":"72e436fb.db3ac8","type":"ui_led","z":"92c9ed82.06b5f","group":"e6adf4a7.238368","order":0,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"green","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":180,"wires":[]},{"id":"a54ad498.93cb48","type":"e-mail","z":"92c9ed82.06b5f","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"98v.venkataramana@gmail.com","dname":"Disinfect Team","x":680,"y":280,"wires":[]},{"id":"8002af97.9810d","type":"switch","z":"92c9ed82.06b5f","name":"conditions","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"},{"t":"gte","v":"10","vt":"num"},{"t":"gte","v":"15","vt":"num"},{"t":"gte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":300,"y":280,"wires":[["988cd385.42215"],["3960288c.f69418"],["28e495a5.be5e5a"],["e7fb3eaf.3e45f","14811f1f.d0a901"]]},{"id":"28e495a5.be5e5a","type":"function","z":"92c9ed82.06b5f","name":"LED3","func":"if(msg.payload>=15)\n{\n    \n    msg.payload = 'true';\n}\n    else\n    {\n        msg.payload = 'false';\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["f79f3c56.aeb38"]]},{"id":"988cd385.42215","type":"function","z":"92c9ed82.06b5f","name":"LED1","func":"if(msg.payload>=5)\n{\n    \n    msg.payload = 'true';\n}\n    else\n    {\n        msg.payload = 'false';\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["30df0bf2.87ee04"]]},{"id":"e7fb3eaf.3e45f","type":"function","z":"92c9ed82.06b5f","name":"LED4","func":"if(msg.payload>=20)\n{\n    \n    msg.payload = 'true';\n}\n    else\n    {\n        msg.payload = 'false';\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["363a3d0a.a074e2"]]},{"id":"3960288c.f69418","type":"function","z":"92c9ed82.06b5f","name":"LED2","func":"if(msg.payload>=10)\n{\n    \n    msg.payload = 'true';\n}\n    else\n    {\n        msg.payload = 'false';\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["72e436fb.db3ac8"]]},{"id":"363a3d0a.a074e2","type":"ui_led","z":"92c9ed82.06b5f","group":"e6adf4a7.238368","order":3,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"green","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":470,"y":440,"wires":[]},{"id":"da867d88.180e1","type":"ui_gauge","z":"92c9ed82.06b5f","name":"","group":"e6adf4a7.238368","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"5","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":140,"wires":[]},{"id":"9a66b640.a85a38","type":"comment","z":"92c9ed82.06b5f","name":"Automated","info":"","x":100,"y":80,"wires":[]},{"id":"d7841b12.3e27c8","type":"function","z":"92c9ed82.06b5f","name":"message","func":"if(msg.payload>=20)\n msg = {\n    payload : \"Hey, This is from Disinfect Team. The bin is full, You may come and collect the disinfected garbage.\\n #STAYHOMESTAYSAFE #COVID-19\\b \\n Our Facebook Page: https://www.facebook.com/Disinfect_Team-102275554842395/?ti=as \\n You may visit us here or Email to Bharattechnocrats007@gmail.com \\n\" +Date().toString(),\n topic : \"Disinfect Team\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":680,"wires":[["6af427d6.0fc998"]]},{"id":"1d6fef68.6759d1","type":"ui_led","z":"92c9ed82.06b5f","group":"e6adf4a7.238368","order":2,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"green","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":430,"y":760,"wires":[]},{"id":"d5345c3f.ea661","type":"ui_led","z":"92c9ed82.06b5f","group":"e6adf4a7.238368","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":580,"wires":[]},{"id":"557d653a.f7e78c","type":"ui_led","z":"92c9ed82.06b5f","group":"e6adf4a7.238368","order":0,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"green","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":620,"wires":[]},{"id":"6af427d6.0fc998","type":"e-mail","z":"92c9ed82.06b5f","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"98v.venkataramana@gmail.com","dname":"Disinfect Team","x":740,"y":680,"wires":[]},{"id":"b3187919.6f2fd8","type":"switch","z":"92c9ed82.06b5f","name":"conditions","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"},{"t":"gte","v":"10","vt":"num"},{"t":"gte","v":"15","vt":"num"},{"t":"gte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":360,"y":680,"wires":[["3bfcbeff.ebd2a2"],["2d814339.d80a8c"],["f777025d.3ee99"],["8aff608d.5e756","d7841b12.3e27c8"]]},{"id":"f777025d.3ee99","type":"function","z":"92c9ed82.06b5f","name":"LED3","func":"if(msg.payload>=15)\n{\n    \n    msg.payload = 'true';\n}\n    else\n    {\n        msg.payload = 'false';\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":760,"wires":[["1d6fef68.6759d1"]]},{"id":"3bfcbeff.ebd2a2","type":"function","z":"92c9ed82.06b5f","name":"LED1","func":"if(msg.payload>=5)\n{\n    \n    msg.payload = 'true';\n}\n    else\n    {\n        msg.payload = 'false';\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["d5345c3f.ea661"]]},{"id":"8aff608d.5e756","type":"function","z":"92c9ed82.06b5f","name":"LED4","func":"if(msg.payload>=20)\n{\n    \n    msg.payload = 'true';\n}\n    else\n    {\n        msg.payload = 'false';\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":800,"wires":[["648f2788.7e1fd8"]]},{"id":"2d814339.d80a8c","type":"function","z":"92c9ed82.06b5f","name":"LED2","func":"if(msg.payload>=10)\n{\n    \n    msg.payload = 'true';\n}\n    else\n    {\n        msg.payload = 'false';\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":620,"wires":[["557d653a.f7e78c"]]},{"id":"648f2788.7e1fd8","type":"ui_led","z":"92c9ed82.06b5f","group":"e6adf4a7.238368","order":3,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"green","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":430,"y":800,"wires":[]},{"id":"a6d7e87.bc0fc18","type":"ui_gauge","z":"92c9ed82.06b5f","name":"","group":"e6adf4a7.238368","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"5","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":620,"wires":[]},{"id":"6aabe215.15691c","type":"inject","z":"92c9ed82.06b5f","name":"Manual inputs","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["b3187919.6f2fd8","a6d7e87.bc0fc18","ef231ab7.5406d8"]]},{"id":"3b837da4.1c5ae2","type":"comment","z":"92c9ed82.06b5f","name":"Manual","info":"","x":90,"y":500,"wires":[]},{"id":"e8068cab.75d4","type":"http in","z":"92c9ed82.06b5f","name":"","url":"/disinfectteam","method":"get","upload":false,"swaggerDoc":"","x":470,"y":860,"wires":[["5a240ecf.a149a","94eab51.5318748"]]},{"id":"5dac6e30.50bbb","type":"http response","z":"92c9ed82.06b5f","name":"disinfectteam","statusCode":"","headers":{"content-type":"text/html"},"x":730,"y":740,"wires":[]},{"id":"94eab51.5318748","type":"function","z":"92c9ed82.06b5f","name":"HTML text","func":"\n    msg.payload= \"Hey, This is from Disinfect Team. The bin is full, You may come and collect the disinfected garbage.\\n #STAYHOMESTAYSAFE #COVID-19 .Our Facebook Page:\\n https://www.facebook.com/Disinfect_Team-102275554842395/?ti=as  You may visit us here or Email to Bharattechnocrats007@gmail.com \\n\"\n+Date().toString()\n \n return msg \n \n","outputs":1,"noerr":0,"x":710,"y":800,"wires":[["5dac6e30.50bbb"]]},{"id":"be8cbfee.d9538","type":"http in","z":"92c9ed82.06b5f","name":"","url":"/disinfect_team","method":"get","upload":false,"swaggerDoc":"","x":650,"y":440,"wires":[["3a10de61.22afe2","aa2b8e49.67fbc"]]},{"id":"b4b204df.d0edf8","type":"http response","z":"92c9ed82.06b5f","name":"disinfect_team","statusCode":"","headers":{"content-type":"text/html","location":"Hyderabad Zone-1"},"x":680,"y":320,"wires":[]},{"id":"3a10de61.22afe2","type":"debug","z":"92c9ed82.06b5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":500,"wires":[]},{"id":"aa2b8e49.67fbc","type":"function","z":"92c9ed82.06b5f","name":"HTML text","func":"msg.payload= \"Hey, This is from Disinfect Team. The bin is full, You may come and collect the disinfected garbage.\\n #STAYHOMESTAYSAFE #COVID-19 .Our Facebook Page:\\n https://www.facebook.com/Disinfect_Team-102275554842395/?ti=as  You may visit us here or Email to Bharattechnocrats007@gmail.com \\n\"\n+Date().toString()\n return msg ","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["b4b204df.d0edf8"]]},{"id":"5a240ecf.a149a","type":"debug","z":"92c9ed82.06b5f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":920,"wires":[]},{"id":"ef231ab7.5406d8","type":"switch","z":"92c9ed82.06b5f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":740,"wires":[["94eab51.5318748"]]},{"id":"2710a8b6.a95468","type":"switch","z":"92c9ed82.06b5f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":360,"wires":[["aa2b8e49.67fbc"]]},{"id":"e6adf4a7.238368","type":"ui_group","z":"","name":"Default","tab":"3ac854dc.83650c","order":1,"disp":false,"width":"6","collapse":false},{"id":"3ac854dc.83650c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]